{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
  <div>
    <div style="height:2px; width:100%;background:red;"></div>
      <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <img class="card-img-top" src="{% static 'media/home/img_subcategoria/subtaller002.png' %}" alt="Card image" style="width:100%;height:300px;  position: relative;">
          <!--<div class=" posbandera container">
            <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
              <div clas="contenedor">
                <div class="ribbon">
                    <h2 class="center texto-encima"><pre>MAESTRÍA</pre></h2>
                </div>
              </div>
            </div>
          </div>-->
        </img>
      </div>
      <!--TITULO-->
      <section style="background:#4D038C;margin-bottom:30px;margin-top:30px; padding-left:5%;">
        <div class="row">
          <div class="col-md-1 col-lg-1 col-xl-1"></div>
          <div class="col-md-11 col-lg-11 col-xl-11">
            <h1 class="text-white" style="align:center;">Maestría</h1>
          </div>
        </div>
      </section>
    
      <section style="margin-top:25px; margin-bottom:19px;">
          <div class="container-fluid">
            <div class="row">
              <!--Espacio en blanco-->
              <div class="col-md-1 col-lg-1 col-xl-1">
                <aside>
                </aside>
              </div>
              <!--CONTENIDO-->
              <div class="col-sm-8 col-md-7 col-lg-8 col-xl-8">
                <article>
                  <div class="container"  style="background:white; padding: 3%; margin-bottom:1%;  -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                    <div  style="padding-left:5%;">
                      <p>En Nuestra Maestría en Derecho con validez oficial 201801MD, contamos con un Modelo Educativo teórico práctico, expositores de distintas partes de la República Mexicana expertos en el tema.</p>
                      <p>En el #IUAF  nuestro modelo educativo está basado en las necesidades que cada entidad jurídica requiere, por eso hemos diseñado un esquema que te permite estudiar y aprender cada minuto que pasas en sesión.</p>
                      <p>Estudiar un posgrado te otorga más posibilidades de ascender profesionalmente. Un profesionista con maestría puede ganar hasta 68% más que quienes cuentan solo con Licenciatura</p>
                    </div>
                  </div>
                  <div class="container"  style="background:white; padding: 3%; margin-bottom:3%;  -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                    <div  style="padding-left:5%;">
                      <ul>
                        <li>Podrás aplicar a opciones laborales que requieran mayor capacidad de análisis y dirección.</li>
                        <li>Tendrás acceso a un mayor ingreso que si contaras solamente con una licenciatura.</li>
                        <li>Contarás con el prestigio de un título de posgrado que aportará significativamente a la imagen que proyectas como profesionista</li>
                      </ul>
                    </div>
                  </div>
                </article>
                <!--IMAGENES-->
                <article style="background: #293352; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <div class="container" style="padding-bottom:4%; padding-top:4%;">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="thumbnail">
                        <a href="{% static 'media/home/img_maestria/maestria001.png' %}">
                          <img src="{% static 'media/home/img_maestria/maestria001.png' %}" alt="Nature" style="width:100%">
                          <div class="caption">
                            <div style="height:3px; width:100%;background:red;"></div>
                            <!--<p style="padding-left:3%; color:#C3D7A4; font-weight: bold;"></p>-->
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <!--<div class="thumbnail" style="background:#A51C30; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">-->
                      <div class="thumbnail">
                        <a href="{% static 'media/home/img_maestria/maestria002.png' %}">
                          <img src="{% static 'media/home/img_maestria/maestria002.png' %}" alt="Lights" style="width:100%">
                          <div class="caption">
                            <div style="height:3px; width:100%;background:red;"></div>
                            <!--<p style="padding-left:3%; color:#C3D7A4; font-weight: bold;"></p>-->
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                </article>
                <article class="class" style="margin-top:3%;">
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div style="padding-left:5%;">
                          <ul>
                            <li>Acceso a biblioteca</li>
                            <li>Plataforma y aula virtual </li>
                            <li>Material de lectura</li>
                            <li>Asesores de alta calidad como Doctores y Maestros  reconocidos en su área, autores de libros y juristas connotados. </li>
                          </ul>
    
                          <p>Opciones de titulación:</p>
                          <ul>
                            <li>Promedio</li>
                            <li>Tesis y examen</li>
                            <li>Doctorado en Instituto Universitario de Alta Formación IUAF</li>
                          </ul>
                        </div>
                      <p><a class="btn btn-primary btn-lg" href="#form" role="button">Solicita más información en »</a></p>
                    </div>
                  </div>
                </article>
    
                <article id="form" class="class" style="background:white; padding-top:3%; padding-bottom:3%;">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-1 col-md-1 col-lg-2 col-xl-2">
                      </div>
                      <!--CONTENIDO-->
                      <div class="col-sm-10 col-md-10 col-lg-8 col-xl-8">
                        
                          <h2>Informes: </h2>
                          <form action="<?=$_SERVER['PHP_SELF']?>" method="post">
                            <!--form action="/action_page.php"-->
                            <div class="form-group">
                              <label for="nombre">Nombre completo:</label>
                              <input type="text" class="form-control" id="nombre" placeholder="Nombre completo" name="nombre">
                              <div style="height:1px; width:100%;background:red;">
                              </div>
                            </div> <!--id name-->
                            <div class="form-group">
                              <label for="num">Número telefonico:</label>
                              <input type="texto" class="form-control" id="num" placeholder="ejemplo: +52 9982536750" name="numero">
                              <div style="height:1px; width:100%;background:red;">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="ciudad">Ciudad:</label>
                              <input type="text" class="form-control" id="ciudad" placeholder="ciudad" name="ciudad">
                              <div style="height:1px; width:100%;background:red;">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="email">Email:</label>
                              <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com" name="email">
                              <div style="height:1px; width:100%;background:red;">
                              </div>
                            </div>
    
                            <!--<form class="form-group" action="/action_page.php">-->
                            <div class="form-group">
                              <label for="mensaje">Programa Académico:</label>
                              <select class="form-control" id="mensaje" name="mensaje">
                                <option value="curso">Curso</option>
                                <option value="licenciatura">Licenciatura</option>
                                <option value="Maestría">Maestría</option>
                                <option value="doctorado">Doctorado</option>
                              </select>
                              <div style="height:1px; width:100%;background:red;"></div>
                            </div>
                            <!--</form>-->
                            <!--
                            <div class="form-group">
                              <label for="mensaje">Programa Académico:</label>
                              <input type="text" class="form-control" id="mensaje" placeholder="programa educativo" name="mensaje">
                              <div style="height:1px; width:100%;background:red;">
                              </div>
                            </div>-->
                            <div class="form-group">
                              <label for="msg">Mensaje:</label>
                              <textarea  rows="5" cols="10" class="form-control" id="msg" placeholder="Mensaje: " name="msg"></textarea>
                              <div style="height:1px; width:100%;background:red;">
                              </div>
                            </div>
                            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                            <!--agregado de otros botones (prueba)-->
                            <input type="reset" value="Borrar" class="btn btn-primary"/>
                            <input type="submit" value="Enviar" class="btn btn-primary"/>
                          </form>
                      </div>
                      <div class="col-sm-1 col-md-1 col-lg-2 col-xl-2">
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            <!--ESPACIO DELA PARTE DERECHA DE LA PÁGINA-->
              <div class="col-sm-4 col-md-4 col-lg-3 col-xl-3" style="background:white; opacity: 0.5;">
                <aside>
                  <p>Espacio publicitario</p>
                </aside>
              </div>
            </div>
          </div>
        </section>
{% endblock %}