{% extends 'base/base.html' %}
{% load static %}

{% block title %}
IUAF index
{% endblock %}

{% block content %}
<section>
    <!--CARRUCEL DE IMAGENES-->
    <!--#492275-->
    <div id="main" style="background:#4D038C; margin-bottom:40px;">
      <div class="">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'media/home/img_carrucel/carrucel001.png' %}" alt="First slide">
            <div class="carousel-caption bgtres">
              <h3>IUAF</h3>
              <p>Instituto Universitario de Alta Formación</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'media/home/img_carrucel/carrucel002.png' %}" alt="Second slide">
            <div class="carousel-caption bgtres">
              <h3>IUAF</h3>
              <p>Instituto Universitario de Alta Formación</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'media/home/img_carrucel/carrucel003.png' %}" alt="Third slide">
            <div class="carousel-caption bgtres">
              <h3>IUAF</h3>
              <p>Instituto Universitario de Alta Formación</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'media/home/img_carrucel/carrucel004.png' %}" alt="Fourth slide">
            <div class="carousel-caption bgtres">
              <h3>IUAF</h3>
              <p>Instituto Universitario de Alta Formación</p>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </div>
    <!-- SECCIÓN TEXTO DE PRESENTACIÓN -->
    <article class="class" style="background:white;">
      <div class="jumbotron jumbotron-fluid" >
        <div class="container">
          <h2 class="display-4">Conócenos</h2>
            <div style="padding-left:5%;">
              <p>El Instituto Universitario ofrece Licenciaturas, Maestría en Derecho, Doctorado en Derecho, Diplomados, Talleres, enfocados principalmente en la rama jurídica y en la rama administrativa.</p>
              <p>IUAF está enfocado a ofrecer la más alta formación para quienes están comprometidos con ser los mejores.</p>
            </div>
          <p><a class="btn btn-primary btn-lg" href="#form" role="button">Solicita más información »</a></p>
        </div>
      </div>
    </article>
    <!--SECCIÓN VIDEO-->
    <article class="class bg" style="margin-bottom:3%; padding:3%;">
      <div class="container">
        <div class="row">
          <!-- 21:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-21by9">
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/7brAVgycKTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!--<iframe width="100%" height="480" src="https://www.youtube.com/embed/Nb3vj9zTHX0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
          </div>
          <div style="height:5px; width:100%;background:red;">
          </div>
        </div>
      </div>
    </article>
    <!-- SECCIÓN IMAGENES -->
    <article class="class fondoseccionimagenes">
      <div class="container">
          <div class="card-columns">
            <!--class="card bg-primary" bg-warning bg-success bg-danger bg-light bg-info-->
            <!--hola-->
            <div class="card">
              <div class="contimg">
                <img class="card-img-top" src="{% static 'media/home/img_seccion_imagenes/imagen000.png' %}" alt="Card image">
                <h5 class="textoimg">Maestría en Derecho</h5>
              </div>
              <div class="linered"></div>
              <div class="card-body">
                <h4 class="card-title">Maestría en Derecho</h4>
                <p class="card-text">
                  <p>Duración 20 meses</p>
                  <p style="margin: -0px 0;">» Un fin de semana al mes</p>
                  <p style="margin: -0px 0;">» Expositores de diferentes estados del país</p>
                  <p style="margin: -0px 0;">» Sesiones teórico - prácticas</p>
                  <p style="margin: -0px 0;">» Estrategias en los juicios orales civil, familiar y mercantil</p>
                  <p style="margin: -0px 0;">» Registro y validez oficial (RVOE) 201801MD</p>
                  <p>» Sistema presencial y a distancia en vivo</p>
                </p>
                <a href="cod/mod/menu/ofertas-educativas/maestrias.php" class="btn btn-primary">Ver más...</a>
              </div>
            </div><!--hola-->
            <div clssa="card">
              <div class="contimg">
                <img class="card-img-top" src="{% static 'media/home/img_seccion_imagenes/imagen001.png' %}" alt="Card image">
                <h5 class="textoimg img3">Diplomado en Justicia Para Adolescentes</h5>
              </div>
              <div style="height:5px; width:100%;background:red;">
              </div>
              <div class="card-body">
                <h4 class="card-title">Diplomado en Justicia Para Adolescentes</h4>
                <p class="card-text">
                  <p>Objetivo: Garantizar que el proceso al que se encuentre sujeta la persona adolescente en conflicto con la ley penal esté en manos de litigantes y servidores públicos sensibilizados y capacitados respecto a esta realidad, lo que abonará al respeto a los derechos humanos de este sector.</p>
                </p>
                <a href="cod/mod/menu/ofertas-educativas/talleres.php" class="btn btn-primary">Ver más...</a>
              </div>
            </div>
            <div class="card">
              <div class="contimg">
                <img class="card-img-top" src="{% static 'media/home/img_seccion_imagenes/imagen003.png' %}" alt="Card image">
                <div class="linered"></div>
                <h5 class="textoimg img2">Doctorado En Derecho<h5>
              </div>
              <div class="card-body">
                <h4 class="card-title">Doctorado En Derecho</h4>
                <p class="card-text">
                  <p>Duración 20 meses</p>
                  <p style="margin: -0px 0;">» Una sesión al mes en sábado</p>
                  <p style="margin: -0px 0;">» Modelo educativo 100% práctico</p>
                  <p style="margin: -0px 0;">» Registro y validez oficial (RVOE) 201879DD</p>
                  <p>» Sistema presencial y a distancia en vivo</p>
                <a href="cod/mod/menu/ofertas-educativas/doctorado.php" class="btn btn-primary">Ver más...</a>
              </div>
            </div>
            <div class="card">
              <div class="contimg">
                <img class="card-img-top" src="{% static 'media/home/img_seccion_imagenes/imagen004.png' %}" alt="Card image">
                <h5 class="textoimg img3">Maestría y Doctorado en Derecho Distancia en Vivo</h5>
              </div>
              <div style="height:5px; width:100%;background:red;">
              </div>
              <div class="card-body">
                <h4 class="card-title">Maestría y Doctorado en Derecho Distancia en Vivo</h4>
                <p class="card-text">
                  <p>Con nuestro novedoso sistema en línea Usted podrá tomar la sesiones completamente en vivo, interactuar y participar con el docente en tiempo real.</p>
                </p>
                <a href="#" class="btn btn-primary">Ver más...</a>
              </div>
            </div>
            <div class="card">
              <div class="contimg">
                <img class="card-img-top" src="{% static 'media/home/img_seccion_imagenes/imagen005.png' %}" alt="Card image">
                <h5 class="textoimg img3">Diplomado en el Proceso Oral, Civil, Familiar y Mercantil</h5>
              </div>
              <div style="height:5px; width:100%;background:red;">
              </div>
              <div class="card-body">
                <h4 class="card-title">Diplomado en el Proceso Oral, Civil, Familiar y Mercantil</h4>
                <p class="card-text">
                  <p><strong>Objetivo:</strong> Sostenemos el modelo de un proceso civil, familiar y mercantil por audiencias, donde el predominio formal sea el de la oralidad.<p>
                  <p>Trabajaremos en los principios procesales con eficaces colaboradores para arribar al proceso ideal, ya que son los pilares básicos donde descansa el proceso.<p>
                <a href="#" class="btn btn-primary">Ver más...</a>
              </div>
            </div>
            <div class="card">
              <div class="contimg">
                <img class="card-img-top" src="{% static 'media/home/img_seccion_imagenes/imagen006.png' %}" alt="Card image">
                <h5 class="textoimg img3">INCUAF incubadora de negocios</h5>
              </div>
              <div style="height:5px; width:100%;background:red;">
              </div>
              <div class="card-body">
                <h4 class="card-title">INCUAF</h4>
                <p class="card-text"><p>30 minutos • INCUBADORA DE NEGOCIOS</p>
                  EMPRESAS IUAF es una incubadora de Alto Impacto, fortalece e incentiva a la creación de nuevas empresas competitivas, con una participación más activa de la población, permitiendo a los emprendedores. </p>
                <a href="cod/mod/menu/incubadora-de-negocios/incuaf.php" class="btn btn-primary">Ver más...</a>
              </div>
            </div>
          </div>
        </div>
    </article>
    <!-- SECCIÓN CONTACTO-->
    <article id="form" class="class" style="background:white; padding-top:3%; padding-bottom:3%;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-3 col-xl-3">
          </div>
          <!--CONTENIDO-->
          <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
            <?php
            if (!isset($_POST['email'])) { ?>
              <h2>Informes: </h2>
              <form action="<?=$_SERVER['PHP_SELF']?>" method="post">
                <!--form action="/action_page.php"-->
                <div class="form-group">
                  <label for="nombre">Nombre completo:</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre completo" name="nombre">
                  <div style="height:1px; width:100%;background:red;">
                  </div>
                </div> <!--id name-->
                <div class="form-group">
                  <label for="num">Número telefonico:</label>
                  <input type="texto" class="form-control" id="num" placeholder="ejemplo: +52 9982536750" name="numero">
                  <div style="height:1px; width:100%;background:red;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="ciudad">Ciudad:</label>
                  <input type="text" class="form-control" id="ciudad" placeholder="ciudad" name="ciudad">
                  <div style="height:1px; width:100%;background:red;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com" name="email">
                  <div style="height:1px; width:100%;background:red;">
                  </div>
                </div>

                <!--<form class="form-group" action="/action_page.php">-->
                <div class="form-group">
                  <label for="mensaje">Programa Académico:</label>
                  <select class="form-control" id="mensaje" name="mensaje">
                    <option value="curso">Curso</option>
                    <option value="licenciatura">Licenciatura</option>
                    <option value="Maestría">Maestría</option>
                    <option value="doctorado">Doctorado</option>
                  </select>
                  <div style="height:1px; width:100%;background:red;"></div>
                </div>
                <!--</form>-->
                <!--
                <div class="form-group">
                  <label for="mensaje">Programa Académico:</label>
                  <input type="text" class="form-control" id="mensaje" placeholder="programa educativo" name="mensaje">
                  <div style="height:1px; width:100%;background:red;">
                  </div>
                </div>-->
                <div class="form-group">
                  <label for="msg">Mensaje:</label>
                  <textarea  rows="5" cols="10" class="form-control" id="msg" placeholder="Mensaje: " name="msg"></textarea>
                  <div style="height:1px; width:100%;background:red;">
                  </div>
                </div>
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                <!--agregado de otros botones (prueba)-->
                <input type="reset" value="Borrar" class="btn btn-primary"/>
                <input type="submit" value="Enviar" class="btn btn-primary"/>
              </form>
            <?php
            }else{
              $mensaje="Mensaje del formulario de contacto de e120300168@gmail.com";
              $mensaje.= "\nNombre: ". $_POST['nombre'];
              $mensaje.= "\nTelefono: ". $_POST['numero'];
              $mensaje.= "\nCiudad: ". $_POST['ciudad'];
              $mensaje.= "\nEmail: ".$_POST['email'];
              $mensaje.= "\nTema: ".$_POST['mensaje'];
              $mensaje.= "\nMensaje: ".$_POST['msg'];
              $destino= "iuaf.edu@gmail.com";
              $destino2= "120300168@ucaribe.edu.mx ";
              $remitente = $_POST['email'];
              $asunto = "Mensaje enviado por: ".$_POST['nombre'];
              mail($destino,$asunto,$mensaje,"FROM: $remitente");
            ?>
              <p><strong>Mensaje enviado.</strong></p>
            <?php
            }
            ?>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-3 col-xl-3">
          </div>
        </div>
      </div>
    </article>
  </section>
{% endblock %}
