<footer class="page-footer font-small mdb-color pt-4" style="background:#414141; color:#CDD7D3; width:100%">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
    <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Instituto Universitario de alta formación</h6>
                <p> Ofrece Licenciaturas, Diplomados, Doctorado, Maestría en Derecho, Talleres, enfocados principalmente en la rama Jurídica y en la rama administrativa.</p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">SITIO WEB</h6>
                <p><a href="https://www.sistema.inuaf.com.mx">Sistema IUAF</a></p>
                <p><a href="cod/mod/menu/nuestro-instituto/historia.php">Historia</a></p>
                <p><a href="cod/mod/footer/sitio-web/mapa-del-sitio.php">Mapa del sitio</a></p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">SEGURIDAD Y MARCA</h6>
                <p><a href="cod/mod/footer/seguridad-y-marca/declaracion-de-privacidad.php">Declaración de privacidad</a></p>
                <p><a href="cod/mod/footer/seguridad-y-marca/report-copyright-infringement.php">Report Copyright Infringement</a></p>
                <p><a href="cod/mod/footer/seguridad-y-marca/ayuda.php">Ayuda</a></p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                <p><i class="fa fa-home mr-3"></i>Boulevard Kukulkan Km 3.5, Plaza Nautilus, Núm. 53, Planta Alta</p>
                <p><i class="fa fa-envelope mr-3"></i>iuaf.edu@gmail.com</p>
                <p><i class="fa fa-phone mr-3"></i>(01998) 2536750</p>
                <p><i class="fa fa-print mr-3"></i>Lunes a viernes: 9:00AM a 6:00PM<br/>Sábado: 11:00AM a 3:00PM</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Footer links -->
        <hr>
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <!--Copyright-->
                <p class="text-center text-md-left">IUAF © 2018 Copyright:
                    <a href="https://www.facebook.com/IuafOficial/">
                        <strong> iuaf.com.mx</strong>
                    </a>
                </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
</footer>