{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div>
        <div style="height:2px; width:100%;background:red;"></div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <img class="card-img-top" src="../../../../media/home/img_subcategoria/subtaller002.png" alt="Card image" style="width:100%;height:300px;  position: relative;">
        <!--<div class="container" style="position: absolute; top: 124px; width: 200px; height: 100px; margin-left:100px">
          <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <div clas="contenedor">
              <div class="ribbon">
                  <h2 class="center texto-encima"><pre>INCUAF</pre></h2>
              </div>
            </div>
          </div>
        </div>-->
        </img>
      </div>
      <!--TITULO-->
      <section style="background:#4D038C;margin-bottom:30px;margin-top:30px; padding-left:5%;">
        <div class="row">
          <div class="col-md-1 col-lg-1 col-xl-1">
          </div>
          <div class="col-md-11 col-lg-11 col-xl-11">
            <h1 class="text-white" style="align:center;">Incubadora de negocios "INCUAF"</h1>
          </div>
        </div>
      </section>
      <section style="margin-top:25px; margin-bottom:19px;">
        <div class="container-fluid">
          <div class="row">
            <!--Espacio en blanco-->
            <div class="col-lg-1 col-xl-1">
              <aside>
              </aside>
            </div>
            <!--CONTENIDO-->
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <article>
                <div class="container-fluid" style="background:white; padding: 3%; margin-bottom:1%; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <div class="row">
                    <div class="col-lg-7 col-xl-8" style="padding-left:5%;">
                      <p>INCUAF- EMPRESAS IUAF es una incubadora de Alto Impacto, fortalece e incentiva a la creación de nuevas empresas competitivas, con una participación más activa de la población, permitiendo a los emprendedores ampliar y potencializar sus capacidades, ser visionarios y reconocer el campo de acción para convertirse en promotores y actores de cambio e impacto social.</p>
                      <p>En este sentido en INCUAF nos preocupamos por incidir en proyectos que sean sustentables o rentables y que a su vez generen un impacto económico, social, tecnológico, cultural o intelectual, lo cual nos permitirá generar un fuerte impacto en el crecimiento de la región y elevar el índice de competitividad.</p>
                    </div>
                    <div class="col-lg-5 col-xl-4">
                      <div class="container-fluid">
                        <img class="img-fluid" src="../../../../media/home/img_ideas/2105.jpg" alt="Chania" style="vertical-align:middle;">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article>
                <div class="container" style="background:#2E6687; padding: 3%; margin-bottom:1%;  -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <div  style="padding-left:5%;">
                    <h4 class="text-white">Antecedentes</h4>
                    <p class="text-white">El Instituto Universitario De Alta Fomación (IUAF) fomenta el espíritu emprendedor entre su comunidad estudiantil y docente, fortaleciendo en los últimos años el apoyo para que los emprendedores desarrollen sus ideas de negocio a través de la creación de 32 Incubadoras de Empresas distribuidas en el país.</p>
                  </div>
                </div>
              </article>
              <article  style="background:white; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                <!--Modelo de incubación de empresas-->
                <div class="container-fluid" style=" padding-left: 5%; padding-right: 5%; padding-top: 3%; padding-bottom: 2%; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <div class="row">
                    <h3>Modelo de incubación de empresas</h3>
                    <p>El Modelo de Incubación del Instituto Universitario De Alta Fomación (IUAF) está fundamentado en los principios del pensamiento exponencial, el pensamiento de diseño y el pensamiento ágil.</p>
                    <p>Se compone de tres etapas: la creación (pre incubación), el desarrollo (incubación) y la consolidación de la empresa (postincubación), brindándose en todas ellas, servicios de apoyo a los emprendedores.</p>
                  </div>
                </div>
                <div style="height:3px; width:100%;background:red;"></div>
                <!--Pre-Incubación-->
                <div class="container-fluid" style="background:#CDD7D3; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;">
                  <div class="row">
                    <h5>Pre-Incubación</h5>
                    <p>Durante esta etapa, el emprendedor desarrolla la visión de emprendimiento transformador y valida los principales supuestos detrás de la oportunidad. El objetivo es desarrollar:</p>
                    <ul>
                      <li>La validación del problema, de la solución y del mercado</li>
                      <li>La propuesta de valor para la solución</li>
                      <li>El modelo de negocio repetible, escalable y automatizable</li>
                      <li>Las evidencias y datos de los supuestos para cada elemento del modelo de negocio</li>
                      <li>El desarrollo del producto mínimo viable</li>
                      <li>El lanzamiento del producto mínimo viable y</li>
                      <li>la puesta en marcha del proyecto</li>
                    </ul>
                    <p>A través de sesiones prácticas, dinámicas y un enfoque pragmático, el aspirante a emprendedor es acompañado por los facilitadores de la Incubadora de Empresas.</p>
                  </div>
                </div>
                <div style="height:3px; width:100%;background:red;"></div>
                <!--Incubación-->
                <div class="container-fluid" style="padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;">
                  <div class="row">
                    <h5>Incubación</h5>
                    <p>Durante esta etapa el emprendedor aprende y utiliza diversas herramientas para desarrollar e implementar su Modelo de Negocio y el Plan de Acción para iniciar la operación de su empresa.</p>
                    <p>El proceso de incubación busca desarrollar:</p>
                    <ul>
                      <li>El portafolio de productos/servicios de la empresa de nueva creación</li>
                      <li>Apalancar el modelo de negocio rentable para la empresa de nueva creación</li>
                      <li>Un plan de negocios viable para la empresa de nueva creación</li>
                      <li>Un plan de acción para iniciar con la operación de la empresa de nueva creación</li>
                      <li>Habilidades para analizar, diseñar, mejorar y controlar la administración de la empresa</li>
                    </ul>
                    <p>Para el logro de estos objetivos, las Incubadoras del Instituto Universitario De Alta Fomación (IUAF) en la Zona Metropolitana del Estado de Quintana Roo, ofrecen a los incubados distintas herramientas como son consultoría especializada, asesoría empresarial, oportunidades de networking, acceso a inversión y financiamiento, y apoyo de consultores académicos para el desarrollo de la empresa.</p>
    
                  </div>
                </div>
                <div style="height:3px; width:100%;background:red;"></div>
                <!--Post-Incubación-->
                <div class="container-fluid" style="background:#5F181826; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;">
                  <div class="row">
                    <h5>Post-Incubación</h5>
                    <p>En esta fase, el objetivo es consolidar el desarrollo de la empresa en su etapa temprana, asegurando la repetibilidad y el escalamiento del modelo de negocio, a través de consultoría personalizada, el desarrollo de clientes y el acceso a fuentes de financiamiento e inversión.</p>
                  </div>
                </div>
                <div style="height:3px; width:100%;background:red;"></div>
                <!--Img-Incubación-->
                <div class="container-fluid" style="background:white; padding: 3%;  padding-top: 2%; padding-bottom: 2%; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <div class="row">
    
                    <div class="col-md-6">
                      <div class="thumbnail">
                        <a href="../../../../media/home/img_ideas/OGMT9J0.jpg">
                          <img class="img-fluid" src="../../../../media/home/img_ideas/OGMT9J0.jpg" alt="Chania">
                          <!--<img src="../../../../media/home/img_maestria/maestria001.png" alt="Nature" style="width:100%">-->
                          <div class="caption">
                            <div style="height:3px; width:100%;background:red;"></div>
                          </div>
                        </a>
                        <div class="card-body">
                          <h4 class="card-title">Servicios de incubación</h4>
                          <p class="card-text">
                            <p>Acorde a tus necesidades la Incubadora ha generado dos esquemas de Incubación: presencial formando parte alguna de las Incubadoras de Empresas del Instituto Universitario De Alta Fomación (IUAF) o virtual a través un portal "Solicita Informes".</p>
                          </p>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <!--<div class="thumbnail" style="background:#A51C30; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">-->
                      <div class="thumbnail">
                        <a href="../../../../media/home/img_ideas/OGMT9J0.jpg">
                          <img src="../../../../media/home/img_ideas/images.jpg" alt="Lights" style="width:100%">
                          <div class="caption">
                            <div style="height:3px; width:100%;background:red;"></div>
                            <!--<p style="padding-left:3%; color:#C3D7A4; font-weight: bold;"></p>-->
                          </div>
                        </a>
                        <div class="card-body">
                          <h4 class="card-title">¿Quiénes pueden participar?</h4>
                          <p class="card-text">
                            <p>En las Incubadoras del Instituto Universitario De Alta Fomación (IUAF) pueden participar todos aquellos emprendedores que desean desarrollar y consolidar una idea de negocio, tales como alumnos y sus familias emprendedoras, profesores, empleados, egresados y comunidad en general, con el respaldo, apoyo y soporte del Modelo de Incubación de Empresas del Instituto Universitario De Alta Fomación (IUAF).</p>
                          </p>
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
    
              </article>
              <!--<article class="class" style="background:white;">
                <div class="jumbotron jumbotron-fluid" >
                  <div class="container">
                    <h2 class="display-4">Conocenos</h2>
                      <div style="padding-left:5%;">
                        <p>El Instituto Universitario ofrece a profesionistas la oportunidad de continuar su especialización con Licenciaturas, Doctorado, Maestría en Derecho, Diplomados, Talleres, enfocados principalmente en la rama Jurídica y en la rama administrativa.</p>
                        <p>Nuestros programas se actualizan constantemente y nuestros docentes son profesionistas certificados, con experiencia en sus áreas y prestigio en él área en que se desenvuelven.</p>
                        <p>IUAF está enfocado a ofrecer la más alta formación para quienes están comprometidos con ser los mejores.</p>
                      </div>
                    <p><a class="btn btn-primary btn-lg" href="#form" role="button">Learn more »</a></p>
                  </div>
                </div>
              </article>-->
            </div>
            <!--ESPACIO DELA PARTE DERECHA DE LA PÁGINA-->
            <div class="col-md-4 col-lg-3 col-xl-3" style="background:white; opacity: 0.5;">
              <article>
                <p>Espacio publicitario</p>
              </article>
            </div>
          </div>
        </div>
      </section>
{% endblock %}