.video-color{
  background:#702742;
  padding: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

.bg {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.hola{
  background: blue;
}
::placeholder {
  color: red;
}
::-webkit-input-placeholder{
  color: red;
}
:-moz-placeholder{/* Firefox 18- */
  color: red;
}
::-moz-placeholder{ /* Firefox 19+ */
  color: red;
}
:-ms-input-placeholder{
  color: red;
}

.bgtres{
  background: #4D038C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4D038C03, #4D038CA6, #4D038C03);  /* Chrome 10-25, Safari 5.1-6 #RRGGBBAA */
  background: linear-gradient(to right, #4D038C03, #4D038CA6, #4D038C03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
