{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div>
        <div style="height:2px; width:100%;background:red;"></div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <img class="card-img-top" src="../../../../media/home/img_subcategoria/subtaller002.png" alt="Card image" style="width:100%;height:300px;  position: relative;">
        <!--<div class="container" style="position: absolute; top: 124px; width: 200px; height: 100px; margin-left:100px">
          <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <div clas="contenedor">
              <div class="ribbon">
                  <font FACE="verdana">
                    <h4 class="center texto-encima" style="color: white; font-weight:normal; margin-top:3px;"><p>MISIÓN</p>
                      <p style="margin: -11px 0;">OBJETIVOS</p>
                      <p style="margin: 14px 0;">FILOSOFÍA</p>
                    </h4>
                  </font>
              </div>
            </div>
          </div>
        </div>-->
        </img>
      </div>
      <!--TITULO-->
      <section style="background:#4D038C;margin-bottom:30px;margin-top:30px; padding-left:5%;">
        <div class="row">
          <div class="col-md-1 col-lg-1 col-xl-1">
          </div>
          <div class="col-md-11 col-lg-11 col-xl-11">
            <h1 class="text-white" style="align:center;">Misión, Objetivos y Filosofía</h1>
          </div>
        </div>
      </section>
    
      <section style="margin-top:25px; margin-bottom:19px;">
        <div class="container-fluid">
          <div class="row">
            <!--Espacio en blanco-->
            <div class="col-md-1 col-lg-1 col-xl-1">
              <aside>
              </aside>
            </div>
            <!--CONTENIDO-->
            <div class="col-sm-8 col-md-7 col-lg-8 col-xl-8">
              <article>
                <div class="container" style="background:white; padding: 3%; margin-bottom:1%;  -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <h1 style="color:#4D038C;">Misión</h1>
                  <div  style="padding-left:5%;">
                    <p>El IUAF propone contribuir a la formación no sólo profesional si no de una manera integral al desarrollo de una sociedad más libre, justa y más próspera, aspira a convertirse en una comunidad en su más pleno significado, una casa de estudios de excelencia y libertad académica, un Instituto de investigación de alta calidad. </p>
                  </div>
                </div>
                <div class="container" style="background:white; padding: 3%; margin-bottom:1%;  -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <h1 style="color:#4D038C;">Objetivos</h1>
                  <div  style="padding-left:5%;">
                    <p>Nuestro Instituto tiene como propósito formar hombres y mujeres capaces de actuar de manera informada, racional, responsable, crítica y comprometida.</p>
                    <p>Busca que nuestra comunidad de estudiantes sean capaces de crear y difundir conocimientos del más alto nivel ético, científico, tecnológico y profesional.</p>
                  </div>
                </div>
                <div class="container" style="background:white; padding: 3%; margin-bottom:1%;  -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;">
                  <h1 style="color:#4D038C;">Filosofía Educativa</h1>
                  <div  style="padding-left:5%;">
                    <p>El IUAF se inspira en un concepto que entiende al ser humano como ser libre, social comprometido con la elevación y el progreso humano, un ser llamado por vocación esencial a buscar la verdad y el bien.</p>
                  </div>
                </div>
              </article>
              <!--<article class="class" style="background:white; margin-top:2%;">
                <div class="jumbotron jumbotron-fluid" >
                  <div class="container">
                    <h2 class="display-4">Conocenos</h2>
                      <div style="padding-left:5%;">
                        <p>El Instituto Universitario ofrece a profesionistas la oportunidad de continuar su especialización con Licenciaturas, Doctorado, Maestría en Derecho, Diplomados, Talleres, enfocados principalmente en la rama Jurídica y en la rama administrativa.</p>
                        <p>Nuestros programas se actualizan constantemente y nuestros docentes son profesionistas certificados, con experiencia en sus áreas y prestigio en él área en que se desenvuelven.</p>
                        <p>IUAF está enfocado a ofrecer la más alta formación para quienes están comprometidos con ser los mejores.</p>
                      </div>
                    <p><a class="btn btn-primary btn-lg" href="#form" role="button">Learn more »</a></p>
                  </div>
                </div>
              </article>-->
            </div>
            <!--ESPACIO DELA PARTE DERECHA DE LA PÁGINA-->
            <div class="col-sm-4 col-md-4 col-lg-3 col-xl-3" style="background:white; opacity: 0.5;">
              <aside>
                <p>Espacio publicitario</p>
              </aside>
            </div>
          </div>
        </div>
      </section>
{% endblock %}